# =========================
# Java
# =========================

*.class
*.log

# Package files
*.jar
*.war
*.ear
*.nar

# JVM crash logs
hs_err_pid*
replay_pid*

# =========================
# Eclipse
# =========================

.classpath
.project
.settings/
bin/

# =========================
# Operating System
# =========================

.DS_Store
Thumbs.db
desktop.ini